body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1270px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:10px;
  width:1270px;
  height:840px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1270px;
  height:840px;
}
#u1 {
  position:absolute;
  left:2px;
  top:412px;
  width:1266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:390px;
  top:100px;
  width:450px;
  height:450px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:450px;
}
#u3 {
  position:absolute;
  left:2px;
  top:217px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:860px;
  top:129px;
  width:150px;
  height:150px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u5 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:390px;
  top:550px;
  width:449px;
  height:90px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:90px;
}
#u7 {
  position:absolute;
  left:2px;
  top:37px;
  width:445px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:400px;
  top:555px;
  width:100px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u9 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:400px;
  top:595px;
  width:100px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:505px;
  top:555px;
  width:100px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:610px;
  top:555px;
  width:100px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u15 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:505px;
  top:595px;
  width:205px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:35px;
}
#u17 {
  position:absolute;
  left:2px;
  top:8px;
  width:201px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:710px;
  top:555px;
  width:130px;
  height:35px;
  font-size:28px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:35px;
}
#u19 {
  position:absolute;
  left:2px;
  top:1px;
  width:126px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:710px;
  top:595px;
  width:130px;
  height:35px;
  font-size:20px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:35px;
}
#u21 {
  position:absolute;
  left:2px;
  top:6px;
  width:126px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:870px;
  top:84px;
  width:100px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
}
#u23 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:595px;
  top:595px;
  width:105px;
  height:35px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:35px;
}
#u25 {
  position:absolute;
  left:2px;
  top:10px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:20px;
  top:140px;
  width:50px;
  height:50px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u27 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:20px;
  top:220px;
  width:50px;
  height:50px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u29 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:20px;
  top:310px;
  width:50px;
  height:50px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u31 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:20px;
  top:400px;
  width:50px;
  height:50px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u33 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:20px;
  top:490px;
  width:50px;
  height:50px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u35 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:20px;
  top:570px;
  width:50px;
  height:50px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u37 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:20px;
  top:660px;
  width:50px;
  height:50px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u39 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:0px;
  top:30px;
  width:255px;
  height:70px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:70px;
}
#u41 {
  position:absolute;
  left:2px;
  top:27px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:0px;
  top:100px;
  width:255px;
  height:20px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:20px;
}
#u43 {
  position:absolute;
  left:2px;
  top:2px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:80px;
  top:53px;
  width:165px;
  height:29px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:24px;
}
#u46 {
  position:absolute;
  left:2px;
  top:4px;
  width:128px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:132px;
  top:0px;
  width:28px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:24px;
}
#u48 {
  position:absolute;
  left:2px;
  top:4px;
  width:24px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:90px;
  top:150px;
  width:50px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
}
#u50 {
  position:absolute;
  left:2px;
  top:5px;
  width:46px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:90px;
  top:230px;
  width:50px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
}
#u52 {
  position:absolute;
  left:2px;
  top:5px;
  width:46px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:90px;
  top:330px;
  width:50px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:19px;
}
#u54 {
  position:absolute;
  left:2px;
  top:-10px;
  width:46px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:90px;
  top:410px;
  width:50px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
}
#u56 {
  position:absolute;
  left:2px;
  top:5px;
  width:46px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:90px;
  top:500px;
  width:50px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
}
#u58 {
  position:absolute;
  left:2px;
  top:5px;
  width:46px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:90px;
  top:580px;
  width:50px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
}
#u60 {
  position:absolute;
  left:2px;
  top:5px;
  width:46px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:90px;
  top:670px;
  width:50px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
}
#u62 {
  position:absolute;
  left:2px;
  top:-5px;
  width:46px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:15px;
  top:41px;
  width:52px;
  height:51px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:51px;
}
#u64 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:539px;
  top:400px;
  width:151px;
  height:150px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:150px;
}
#u66 {
  position:absolute;
  left:2px;
  top:67px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:390px;
  top:400px;
  width:149px;
  height:150px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:150px;
}
#u68 {
  position:absolute;
  left:2px;
  top:67px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:689px;
  top:100px;
  width:149px;
  height:150px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:150px;
}
#u70 {
  position:absolute;
  left:2px;
  top:67px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:690px;
  top:250px;
  width:149px;
  height:149px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:149px;
}
#u72 {
  position:absolute;
  left:2px;
  top:66px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:540px;
  top:100px;
  width:149px;
  height:150px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:150px;
}
#u74 {
  position:absolute;
  left:2px;
  top:67px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:690px;
  top:399px;
  width:149px;
  height:150px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:150px;
}
#u76 {
  position:absolute;
  left:2px;
  top:67px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:390px;
  top:100px;
  width:150px;
  height:150px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u78 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:540px;
  top:250px;
  width:150px;
  height:150px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u80 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
